@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

h1 {
    font-size: 4rem;
    color: blue;
}

body {
    font-family: "Manrope";
    background-color: #ccc;
    background-image: url("https://cdn.shopify.com/s/files/1/0018/9890/5651/products/Candle_shopify_DN_1800x1800.jpg?v=1616446223");
    background-repeat: repeat;
    background-position: center;
    background-attachment: local;
}

.music {
    border-radius: 15px;
    background-color: #ccc;
}